@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: bolder;
    font-style:normal;
  }
  
img{
    height : 100%;
    width: 100%;
    background-size : cover;
    background-position : center;
    
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
    /* justify-content: space-between; */
    text-align: center;
    font-family: 'GmarketSansMedium';
    background-color: #e1f5fe;
    
}

.top {
	height : 60vh;
    flex-direction: column;
	align-items: center;
    padding-top: 5%;
    margin: 0 5% 0 5%;
    /* padding-bottom: 10%; */
    /* width: 400px; */
}
.middle{
    height: 25vh;
    display : flex;
    justify-content: center;
    align-items : center;
    
}
.middle_top{
    padding:10% 0 5% 0;
    font-size:3em;
    font-weight: 900;
    margin: 0;
}

.middle_bottom{
    font-size: 1.5em;
    /* padding:0 0 10% 0; */
    color: #BDB8B8;
}


.bottom {
	height: 15vh;
    /* margin: 0 10% 0 10%; */
    display : flex;
    justify-content: center;
    align-items : center;
}
.test_start{
    display : flex;
    justify-content: center;
    align-items : center;
    cursor: pointer;
    width: 300px;
    height: 75px;
    background-color: #2daae2;
    color:  white;
    border-radius: 20px;
    font-size: 200%;
    font-weight: 800;
}
.test_start:hover{
    border: 5px solid #6ab7ff;
    transform: scale(1.05);
    transition : transform 0.5s;
  }

.start{
opacity: 0;
}

.end{
opacity: 1;
transition: opacity 0.75s;
}
  
@media screen and (max-width:550px){
    .top {
        height : 55vh;
    }
    .middle{
        height : 30vh;
    }
    .middle_top{
        font-size: 2.5em;
        padding:10% 0 10% 0;
    }
    
    .middle_bottom{
        font-size: 20px;
    }
    .test_start{
        width:250px;
        height: 50px;
        font-size: 200%;
    }
  }

  @media screen and (max-width:380px){
    .middle_top{
        font-size: 2em;
    }
    .middle_bottom{
        font-size: 15px;
        padding:0 0 0 0;
    }
    .test_start{
        width:200px;
        height: 50px;
        font-size: 150%;
    }
  }